* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #24b3b3;
  --color-primary-variant: #2ee6a8;
  --color-background: #404a80;
  --color-text: #ece6f2;
}

ul {
  list-style-type: none;
}

html,
body {
  color: var(--color-text);
  background-color: var(--color-background);
  min-width: 400px;
  padding: 12px;
}

.cases-container {
  margin-top: 10px;
}

.cases-container h2 {
  margin-bottom: 20px;
}

.cases-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

button {
  color: var(--color-text);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-primary);
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--color-primary-variant);
}
